<html>
  <head>
    <title>Prostoapp promocode</title>
    <meta content="UTF-8" />
    <style type="text/css">
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      center,
      dl, dt, dd,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          vertical-align: baseline;
          box-sizing: border-box;
      }
    </style>
  </head>
  <body  style="width: 600px; background-color: #F6F3F2;">
    <table cellpadding="0" cellspacing="0" width="600">
      <tr>
       <td>
        <img scr="https://i.imgur.com/bwgsBbm.png" alt="Logo" title="Logo" width="224" height="50" style="margin: 0 auto; margin-top: 30px; margin-bottom: 45px; display:block" />
       </td>
      </tr>
      <tr>
       <td style="padding-bottom: 20px;">
        <p style="width: 379px; height: 55px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 24px; text-align: center; margin: 0 auto;">Вы оформили и оплатили промо-код на подписку!</p>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom: 44px;">
        <p style="width: 393px; height: 43px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 16px; text-align: center; margin: 0 auto;">Сертификат с кодом и инструкцией приложен к этому письму в виде файла в формате PDF</p>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom: 40px; display: inline-flex; align-items: center;">
        <img scr="" width="30" height="36" alt="Logo" title="Logo" style="margin-left: 50px; display:block" />
        <span style="width: 315px;font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 16px; padding-left: 20px; padding-top: 7px;">Скачайте его, распечатайте и подарите</span>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom: 40px; display: inline-flex; align-items: center;">
        <img scr="https://i.imgur.com/7OZO4q9.png" width="30" height="37" alt="Logo" title="Logo" style="margin-left: 50px; display:block" />
        <span style="width: 317px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 16px; padding-left: 20px; padding-top: 7px;">Или перешлите это письмо получателю</span>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom: 40px; display: inline-flex; align-items: center;">
        <img scr="https://i.imgur.com/Lk7t97c.png" width="40" height="28" alt="Logo" title="Logo" style="margin-left: 45px; display:block" />
        <span style="width: 422px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 16px; padding-left: 15px;">Получатель сертификата сможет легко активировать промокод. Инструкция есть в сертификате</span>
       </td>
      </tr>
      <tr>
        <td style="padding-top: 10px;">
          <p style="font-family: Roboto, sans-serif; font-weight: 400; font-size: 12px; text-align: center;">© Просто 2020</p>
        </td>
      </tr>
      <tr>
        <td style="display: inline-flex; align-items: center;">
            <a href='https://play.google.com/store/apps/details?id=com.prostoapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
              <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' style="width: 157px; height: 59px;"/>
            </a>
            <a href="https://apps.apple.com/ru/app/просто-медитация-и-сон/id1490891826?mt=8" class="background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2020-01-29&kind=iossoftware&bubble=apple_music) no-repeat; width: 135px; height: 40px; margin-top: 9px;"></a>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 27px;">
          <p style="font-family: Roboto, sans-serif; font-weight: 400; font-size: 12px; text-align: center;">Служба поддержки <a href="mailto: help@prostoapp.com" style="font-family: Roboto, sans-serif; font-weight: 400; font-size: 12px; color: #33B49D;">help@prostoapp.com</a></p>
        </td>
      </tr>
     </table>
  </body>
</html>
